# MapR Setup

export MAPR_CLUSTER=mycluster
export MAPR_CLDB_HOSTS=cldb.lab.local

# MAPR_CONTAINER_USER must also exist on the docker host. Or at the very least, MAPR_CONTAINER_UID can NOT be used by anything. This is so we set permissions on the conf files
export MAPR_CONTAINER_USER=mycontaineruser
export MAPR_CONTAINER_PASSWORD=
export MAPR_CONTAINER_GROUP=mycontainergroup
export MAPR_CONTAINER_UID=12345
export MAPR_CONTAINER_GID=12345

export MAPR_HOME=/opt/mapr
######### MAPR Secure Cluster Ticket Info

# For secure clusters, there needs to be a MapR Ticket Follow these steps 
#
# 1. Place the ticket in a directory on the host running the contianer and update MAPR_TICKET_HOST_LOCATION
# 2. Update MAPR_TICKET_FILE_NAME with the name of the ticket
# 3. (Optional) if you want the ticket location to be different inside the contianer, please update MAPR_TICKET_CONTAINER_LOCATION (this is NOT needed)

export MAPR_TICKET_HOST_LOCATION="/tmp/all_tickets"
export MAPR_TICKET_CONTAINER_LOCATION="/tmp/mapr_ticket"

export MAPR_TICKET_FILENAME="maprticket_12345"
export MAPR_TICKETFILE_LOCATION="${MAPR_TICKET_CONTAINER_LOCATION}/${MAPR_TICKET_FILENAME}"

# For non-secure clusters, simplely uncomment this line

# export MAPR_TICKETFILE_LOCATION=""

# MapR FS Mounting info
export MAPR_MOUNT_PATH=/mapr
export MAPR_TZ=US/Central

# MapR Streamsets Config
export MAPR_VERSION=6.0.0
export MAPR_MEP_VERSION=4

# Image Name
export APP_IMG="maprssss:latest"

# Path to Stream sets data - This is a MapR Filesystem Path (so no /mapr/mycluster) 
export APP_HOME="/apps/prod/maprssss"

# Syslog Setup - Stream and Stream Volume location are both MapR FS locations not Posix Mount point locaitons
export MAPR_SYSLOG_VOLUME_LOCATION="${APP_HOME}/syslogstreams"
export MAPR_SYSLOG_VOLUME_NAME="prod.apps.maprssss"
export MAPR_SYSLOG_STREAM_LOCATION="${APP_HOME}/syslogstreams/logstream"


# Default Creation items for topics in streams
export MAPR_SYSLOG_DEFAULT_PARTITIONS=3
export MAPR_SYSLOG_TOPIC=logstream

# Ports for Streamsets CLEAR these if not using syslog listeners
export APP_SYSLOG_TCP_PORT=1514
export APP_SYSLOG_UDP_PORT=1514

# Streamsets
export APP_STREAMSETS_TCP_PORT=18690
export APP_VER="3.1.0.0"

# 

###########################################################################3

export APP_POSIX_HOME="${MAPR_MOUNT_PATH}/${MAPR_CLUSTER}${APP_HOME}"

# Do not change these Variables:
export APP_CONF_DIR="${APP_POSIX_HOME}/conf"
export APP_LOG_DIR="${APP_POSIX_HOME}/logs"
export APP_SBIN_DIR="${APP_POSIX_HOME}/sbin"
export APP_DATA_DIR="${APP_POSIX_HOME}/data"
export APP_RESOURCE_DIR="${APP_POSIX_HOME}/resources"
export APP_CERT_LOC="${APP_POSIX_HOME}/certs"

# These are the directories that must be checked to ensure exist.  This is done in the startup script
export APP_DIRS="${APP_CONF_DIR} ${APP_LOG_DIR} ${APP_SBIN_DIR} ${APP_DATA_DIR} ${APP_RESOURCE_DIR} ${APP_CERT_LOC}"
